body,
html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    font-family: Poppins;
    font-weight: normal;
    background-color: #8b755b;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Black.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Black.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 100;
    font-style: lighter;
}

@font-face {
    font-family: 'Nougata';
    src: url('/assets/fonts/Nougat.woff2') format('woff2'),
        url('/assets/fonts/Nougat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 
@font-face {
font-family: 'Supercell-Magic';
src: url('/assets/fonts/Supercell-Magic.woff2') format('woff2'),
  url('/assets/fonts/Supercell-Magic.woff') format('woff');
font-weight: normal;
font-style: normal;
} */
